chipwhisperer
ipykernel
notebook
jupyter
jupyter_client
ipywidgets
nbconvert
pandas
matplotlib
h5py
nbformat
PyYAML
tqdm
pycryptodome
terminaltables
colorama
configobj
Cython
ECPy
fastdtw
libusb1
numpy
pyserial
bokeh
jupyter_bokeh
cycler
datashader
nbparameterise
holoviews
phoenixAES
pyusb
setuptools
